*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
}

img{
    max-width: 600px;
    position: relative;
    top: 200px;
    left: 350px;
}

.login-container{
    position: relative;
    width: 600px;
    height: 900px;
    background-color: rgb(128, 0, 0);
    float: right;
}

.login{
    width: 400px;
    height: min-content;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    margin: 20px;
    left: 80px;
    top: 250px;
    padding: 30px;
}

.login h2{
    text-align: center;
    font-size: 30px;
    font-style: bold;
    margin-bottom: 15px;
}

.login input{
    border-style: none;
    border-bottom: solid #c7c9cc 1px;
    width: 290px;
    height: 30px;
    margin-bottom: 35px;
    margin-left: 25px;
    outline: none;
}

.fpass a{
    margin-left: 25px;
    font-size: 14px;
    text-decoration: none;
    color: blue;
    margin-bottom: 10px;
}

button{
    width: 290px;
    height: 40px;
    margin-left: 25px;
    border-style: none;
    border-radius: 10px;
    background-color: #832727;
    color:#fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.nam{
    text-align: center;
    font-size: smaller;
}

.nam a{
    text-decoration: none;
}